# This file contains packages required for production and development usage
# For packages related to production ONLY, see `requirements.txt`

--requirement requirements.txt

awscli
backports.unittest-mock==1.5   # TODO to be removed as we are already on python3
black==18.9b0
coverage~=4.5.0
flake8~=3.7.0
ipdb
isort~=4.3.0
mock~=2.0.0
nose-timer~=0.7.0
nose~=1.3.0
pre-commit
shub
sphinx
sphinx_rtd_theme
